<ion-content>
  <div class="container">
    <div *ngIf="mostrarVistaEspera && datosListado" class="espera-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Lista de Espera</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="alert-info">
            <p>Estás actualmente en la lista de espera,</p>
            <p>Gracias por esperar.</p>
            <ion-button 
            (click)="RutearEncuestas()"
            class="asignar-button encuestas"
            color="primary"
            size="small">
            <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
            Ver encuestas previas
          </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div
      *ngIf="!mostrarVistaEspera && currentUserDetails"
      class="home-container"
    >
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >¡Bienvenido, {{ currentUserDetails.nombre }}!</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          <div class="content">
            <p>Accede a todas nuestras funcionalidades</p>
          </div>
          <button (click)="toggleScanner()">
            <img src="../../../assets/qrcode.png" />
          </button>
          <div *ngIf="isScannerVisible">
            <zxing-scanner [torch]="true" (scanSuccess)="onScanSuccess($event)">
            </zxing-scanner>
            <button (click)="navegarDeUna()">
              <img src="../../assets/accesos-rapidos/supervisor.png" />
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="!currentUserDetails && !datosListado" class="loading">
      <app-loading-spinner [message]="'Cargando datos...'" [overlay]="true">
      </app-loading-spinner>
    </div>
  </div>
</ion-content>
