/* order.component.scss */
:host {
    display: block;
  }
  
  ion-content {
    --background: #1a1a1a;
    --color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
  }
  
  .order-list {
    padding: 0 1rem;
  }
  
  .order-item {
    background: #262626;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.7rem;
  }
  
  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-name {
    font-weight: 500;
    color: white;
    font-size: 1.7rem;
  }
  
  .item-price {
    color: #999;
    font-size: 1.7rem;
  }
  
  .order-summary {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    background: #262626;
    padding: 1rem;
  }
  
  .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem;
    font-size: 1.7rem;
  }
  
  .qr-icon {
    font-size: 1.5rem;
  }
  
  ion-button.pay-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    --background: #4CAF50;
    --border-radius: 0;
    height: 50px;
    font-size: 1.7rem;
  }
  
  ion-content::part(scroll) {
    padding-bottom: 120px;
  }
  .discount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem;
    font-size: 1.7rem;
  }
  .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem;
    font-size: 2.5rem;
  }