<ion-content class="ion-padding">
  <div class="header">
    <span>Cuenta</span>
  </div>

  <div *ngFor="let pedido of pedidos" class="order-list">
    <div *ngFor="let item of pedido.items" class="order-item">
      <div class="item-details">
        <div class="item-name">{{ item.nombre }}</div>
        <div class="item-price">
          {{ item.precioUnitario | currency : "USD" : "symbol" : "1.0-0" }} x
          {{ item.cantidad }}
        </div>
      </div>
    </div>

    <!-- Resumen del pedido -->
    <div class="order-summary">
      <div class="subtotal">
        <span>SubTotal</span>
        <span>{{
          pedido.subtotal | currency : "USD" : "symbol" : "1.0-0"
        }}</span>
      </div>

      <!-- Descuento aplicado -->
      <div class="discount" *ngIf="pedido.descuento">
        <span>Descuento (10% Juego Ganado!)</span>
        <span
          >-{{ pedido.descuento | currency : "USD" : "symbol" : "1.0-0" }}</span
        >
      </div>

      <!-- Propina aplicada -->
      <div class="tip" *ngIf="propina > 0">
        <span>Propina ({{ propina }}%)</span>
        <span>{{
          ((pedido.totalConDescuento ?? 0) * propina) / 100
            | currency : "USD" : "symbol" : "1.0-0"
        }}</span>
      </div>

      <!-- Total final con Descuento y Propina -->
      <div class="total">
        <span>Total</span>
        <span>{{
          (pedido.totalConDescuento ?? 0) +
            ((pedido.totalConDescuento ?? 0) * propina) / 100
            | currency : "USD" : "symbol" : "1.0-0"
        }}</span>
      </div>
    </div>
  </div>

  <!-- Botón para escanear QR de propina -->
  <div *ngIf="scanning" class="qr-scanner">
    <zxing-scanner
      (scanSuccess)="handleScanResult($event)"
      [tryHarder]="true"
    ></zxing-scanner>
    <ion-button expand="block" color="danger" (click)="scanning = false">
      Cancelar Escaneo
    </ion-button>
  </div>
  <!-- Modifica esta parte al final de tu HTML -->
  <div class="button-container">
    <ion-button
      expand="block"
      class="scan-tip-button"
      (click)="iniciarEscaneo()"
    >
      <ion-icon name="qr-code-outline"></ion-icon> Escanear Propina
    </ion-button>

    <ion-button expand="block" class="pay-button" (click)="realizarPago()">
      <ion-icon name="cash-outline"></ion-icon> Solicitar Cuenta
    </ion-button>
  </div>
</ion-content>
