<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ordenes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <div class="order-item" *ngFor="let order of orders">
                <div class="order-item-header">
                  <h3>Mesa {{ order.Mesa }} - Total: {{ order.Precio }}</h3>
                  <p>{{ order.EstadoDePedido }}</p>
                </div>
                <div class="order-item-content">
                  <div>
                    <p>
                      <strong>Tiempo de Espera:</strong>
                      {{ order.TiempoEspera }} minutos
                    </p>
                    <p><strong>Precio:</strong> ${{ order.Precio }}</p>
                  </div>
                  <div *ngFor="let item of order.items">
                    <h4>{{ item.nombre }}</h4>
                    <p>Cantidad: {{ item.cantidad }}</p>
                    <p>Precio Unitario: ${{ item.precioUnitario }}</p>
                    <p>
                      Tiempo de Elaboración:
                      {{ item.tiempoElaboracion }} minutos
                    </p>
                    <p *ngIf="order.EstadoDePedido === 'preparación'">
                      Estado: {{ item.estado }}
                    </p>
                  </div>
                </div>
                <div class="order-item-actions">
                  <ion-button
                    *ngIf="order.EstadoDePedido === 'solicitado'"
                    (click)="acceptOrder(order)"
                    fill="solid"
                    color="success"
                    >Aceptar</ion-button
                  >
                  <ion-button
                    *ngIf="order.EstadoDePedido === 'Pagado'"
                    (click)="liberarMesa(order)"
                    fill="solid"
                    color="success"
                    >Liberar mesa</ion-button
                  >
                  <ion-button
                    *ngIf="order.EstadoDePedido === 'solicitado'"
                    (click)="rejectOrder(order)"
                    fill="solid"
                    color="danger"
                    >Rechazar</ion-button
                  >
                  <ion-button
                    *ngIf="canDeliverOrder(order)"
                    (click)="deliverOrder(order)"
                    fill="solid"
                    color="primary"
                    >Entregar Orden</ion-button
                  >
                </div>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="chat-flotante">
    <app-chat> </app-chat>
  </div>
</ion-content>
