<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos de Bebida en Preparación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="orders.length > 0; else noOrders">
    <ion-item-group *ngFor="let order of orders">
      <ion-item *ngFor="let item of order.items" detail="false">
        <ng-container *ngIf="item.tipo === 'bebida' && item.estado === 'preparacion'">
          <ion-item-divider>
            <ion-label >Mesa: {{ order.Mesa }} - Pedido ID: {{ order.orderId }}</ion-label>
          </ion-item-divider>
          <ion-label>
            <h2>{{ item.nombre }}</h2>
            <p>Cantidad: {{ item.cantidad }}</p>
            <p>Precio Unitario: ${{ item.precioUnitario }}</p>
            <p>Tiempo de Elaboración: {{ item.tiempoElaboracion }} mins</p>
          </ion-label>
          <ion-button color="success" (click)="RealizarOrden(order, item)">
            Marcar como Realizado
          </ion-button>
        </ng-container>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ng-template #noOrders>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sin pedidos de bebida en preparación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Actualmente no hay pedidos de bebidaen preparación.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
