<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-padding-top ion-padding-bottom">
      <ion-col size="12" size-md="6">
        <ion-card class="ion-no-margin">
          <ion-card-header class="ion-text-center">
            <ion-card-title class="ion-text-uppercase">Registro de usuario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="ion-text-center ion-padding-bottom">Bienvenido a nuestro restaurante. Por favor, selecciona una de las siguientes opciones de registro:</p>
            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="12" size-md="6">
                <ion-button expand="block" [routerLink]="['/alta-dueno-supervisor']">
                  Dueño/Supervisor
                </ion-button>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-button expand="block" [routerLink]="['/alta-']">
                  Empleados
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="12" size-md="6">
                <ion-button expand="block" [routerLink]="['/alta-cliente']">
                  Clientes
                </ion-button>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-button expand="block" [routerLink]="['/alta-mesa']">
                  Mesas
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="12" size-md="6">
                <ion-button expand="block" [routerLink]="['/alta-']">
                  Producto
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
