<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos de Comida en Preparación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="orders.length > 0; else noOrders">
    <div class="order-item" *ngFor="let order of orders">
      <div class="order-item-content">
        <ng-container *ngFor="let item of order.items">
          <ng-container
            *ngIf="item.tipo === 'comida' && item.estado === 'preparación'"
          >
            <div class="order-item-header">
              <h3>Mesa {{ order.Mesa }}</h3>
            </div>
            <div>
              <h4>{{ item.nombre }}</h4>
              <p>Cantidad: {{ item.cantidad }}</p>
              <p>Precio Unitario: ${{ item.precioUnitario }}</p>
              <p>Tiempo de Elaboración: {{ item.tiempoElaboracion }} mins</p>
            </div>
            <div class="order-item-actions">
              <ion-button color="success" (click)="RealizarOrden(order, item)">
                Marcar como Realizado
              </ion-button>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ion-list>

  <ng-template #noOrders>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sin pedidos de comida en preparación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Actualmente no hay pedidos de comida en preparación.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
