<div class="registro-container">
  <h2>Registro de Clientes</h2>

  <label for="nombre">Nombre</label>
  <input
    id="nombre"
    type="text"
    [(ngModel)]="nuevoCliente.nombre"
    placeholder="Nombre"
  />

  <label for="apellido">Apellido</label>
  <input
    id="apellido"
    type="text"
    [(ngModel)]="nuevoCliente.apellido"
    placeholder="Apellido"
  />

  <label for="dni">DNI</label>
  <input
    id="dni"
    type="text"
    [(ngModel)]="nuevoCliente.dni"
    placeholder="DNI"
  />


  <button (click)="takePhoto()">Tomar Foto</button>

  <div *ngIf="nuevoCliente.fotoUrl">
    <h3>Foto Capturada:</h3>
    <img [src]="nuevoCliente.fotoUrl" alt="Foto del usuario" class="foto-preview" />
  </div>

  <button (click)="toggleScanner()">Escanear QR del DNI</button>

  <div *ngIf="isScannerVisible">
    <zxing-scanner
      [formats]="allowedFormats"
      (scanSuccess)="handleQrCodeResult($event)"
    ></zxing-scanner>
  </div>
  
  <button (click)="guardarCliente()">Registrar Cliente</button>
  <button (click)="GuardarClienteAnonimo()">Registrar Cliente Anonimo</button>
</div>
