<div class="registro-container">
  <h2>Registro de Clientes</h2>

  <!-- Botones de selección de tipo de cliente -->
  <div>
    <button (click)="seleccionarTipoCliente('normal')">Cliente</button>
    <button (click)="seleccionarTipoCliente('anonimo')">Cliente Anónimo</button>
  </div>

  <!-- Formulario para Cliente Normal -->
  <form
    *ngIf="tipoCliente === 'normal'"
    [formGroup]="registroForm"
    (ngSubmit)="guardarCliente()"
  >
    <label for="nombre">Nombre</label>
    <input
      id="nombre"
      type="text"
      formControlName="nombre"
      placeholder="Nombre"
    />
    <!-- Validación de nombre -->
    <div
      *ngIf="
        registroForm.get('nombre')?.invalid &&
        registroForm.get('nombre')?.touched
      "
      class="error-message"
    >
      <small>El nombre es requerido</small>
    </div>

    <!-- Otros campos para el cliente normal -->
    <label for="apellido">Apellido</label>
    <input
      id="apellido"
      type="text"
      formControlName="apellido"
      placeholder="Apellido"
    />
    <div
      *ngIf="
        registroForm.get('apellido')?.invalid &&
        registroForm.get('apellido')?.touched
      "
      class="error-message"
    >
      <small>El apellido es requerido</small>
    </div>

    <label for="dni">DNI</label>
    <input id="dni" type="text" formControlName="dni" placeholder="DNI" />
    <div
      *ngIf="
        registroForm.get('dni')?.invalid && registroForm.get('dni')?.touched
      "
      class="error-message"
    >
      <small>El DNI es requerido y debe contener solo números</small>
    </div>

    <label for="correo">Correo</label>
    <input
      id="correo"
      type="email"
      formControlName="correo"
      placeholder="Correo"
    />
    <div
      *ngIf="
        registroForm.get('correo')?.invalid &&
        registroForm.get('correo')?.touched
      "
      class="error-message"
    >
      <small>Correo inválido</small>
    </div>

    <label for="password">Contraseña</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Contraseña"
    />
    <div
      *ngIf="
        registroForm.get('password')?.invalid &&
        registroForm.get('password')?.touched
      "
      class="error-message"
    >
      <small
        >La contraseña es requerida y debe tener al menos 6 caracteres</small
      >
    </div>

    <button type="button" (click)="takePhoto()">Tomar Foto</button>
    <button type="submit">Registrarse</button>
  </form>

  <!-- Formulario para Cliente Anónimo -->
  <form
    *ngIf="tipoCliente === 'anonimo'"
    [formGroup]="registroAnonimoForm"
    (ngSubmit)="guardarClienteAnonimo()"
  >
    <label for="nombreAnonimo">Nombre</label>
    <input
      id="nombreAnonimo"
      type="text"
      formControlName="nombre"
      placeholder="Nombre"
    />
    <div
      *ngIf="
        registroAnonimoForm.get('nombre')?.invalid &&
        registroAnonimoForm.get('nombre')?.touched
      "
      class="error-message"
    >
      <small>El nombre es requerido</small>
    </div>

    <button type="submit">Ingresar Anónimamente</button>
    
  </form>
</div>
