<ion-content class="login-content">
  <div class="login-container">
    <div class="background-shapes">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
    </div>
    <div class="form-container">
      <h1>Iniciar Sesión</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <div class="input-icon">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Email"
            required
          ></ion-input>
        </div>
        <ion-text
          color="danger"
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        >
          <p class="error-message" *ngIf="email?.errors?.['required']">
            Email es requerido
          </p>
          <p class="error-message" *ngIf="email?.errors?.['email']">
            Email inválido
          </p>
        </ion-text>

        <div class="input-group">
          <div class="input-icon">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </div>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="Contraseña"
            required
          ></ion-input>
        </div>
        <ion-text
          color="danger"
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          <p class="error-message" *ngIf="password?.errors?.['required']">
            Contraseña es requerida
          </p>
          <p class="error-message" *ngIf="password?.errors?.['minlength']">
            Mínimo 6 caracteres
          </p>
        </ion-text>

        <ion-button expand="block" type="submit" class="login-button">
          <span>Ingresar</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </form>

      <div class="quick-access">
        <p>Acceso rápido</p>
        <div class="quick-buttons">
          <button
            (click)="fillForm('dueño')"
            class="quick-button"
            data-type="owner"
          >
            <ion-icon name="business-outline"></ion-icon>
            <span>Dueño</span>
          </button>

          <button
            (click)="fillForm('supervisor')"
            class="quick-button"
            data-type="supervisor"
          >
            <ion-icon name="eye-outline"></ion-icon>
            <span>Supervisor</span>
          </button>

          <button
            (click)="fillForm('maitre')"
            class="quick-button"
            data-type="maitre"
          >
            <ion-icon name="restaurant-outline"></ion-icon>
            <span>Maître</span>
          </button>

          <button
            (click)="fillForm('mozo')"
            class="quick-button"
            data-type="mozo"
          >
            <ion-icon name="wine-outline"></ion-icon>
            <span>Mozo</span>
          </button>

          <button
            (click)="fillForm('cocinero')"
            class="quick-button"
            data-type="cook"
          >
            <ion-icon name="flame-outline"></ion-icon>
            <span>Cocinero</span>
          </button>

          <button
            (click)="fillForm('bartender')"
            class="quick-button"
            data-type="bartender"
          >
            <ion-icon name="beer-outline"></ion-icon>
            <span>Bartender</span>
          </button>

          <button
            (click)="fillForm('registrado')"
            class="quick-button"
            data-type="registered"
          >
            <ion-icon name="person-circle-outline"></ion-icon>
            <span>Registrado</span>
          </button>

          <button
            (click)="fillForm('anonimo')"
            class="quick-button"
            data-type="anonymous"
          >
            <ion-icon name="help-circle-outline"></ion-icon>
            <span>Anónimo</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
