<ion-content class="login-content">
  <button (click)="logout()"></button>
  <div class="login-container">
    <div class="background-shapes">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
    </div>
    <div class="form-container">
      <h1>Iniciar Sesión</h1>

      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <div class="input-icon"></div>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Correo"
            required
          ></ion-input>
        </div>
        <ion-text
          color="danger"
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        >
          <p class="error-message" *ngIf="email?.errors?.['required']">
            Correo es requerido
          </p>
          <p class="error-message" *ngIf="email?.errors?.['email']">
            Correo inválido
          </p>
        </ion-text>

        <div class="input-group">
          <div class="input-icon"></div>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="Contraseña"
            required
          ></ion-input>
        </div>
        <ion-text
          color="danger"
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          <p class="error-message" *ngIf="password?.errors?.['required']">
            Contraseña es requerida
          </p>
          <p class="error-message" *ngIf="password?.errors?.['minlength']">
            Mínimo 6 caracteres
          </p>
        </ion-text>

        <ion-button expand="block" type="submit" class="login-button">
          <span>Ingresar</span>
        </ion-button>
      </form>
      <ion-col size="6" size-md="4" class="ion-padding-bottom">
        <ion-button
          expand="block"
          [routerLink]="['/registro-clientes']"
          class="ion-no-margin"
        >
          Registrarse
        </ion-button>
      </ion-col>
      <div class="quick-access">
        <div class="quick-buttons">
          <button
            (click)="fillForm('dueño')"
            class="quick-button"
            data-type="owner"
          >
            <img src="../../assets/accesos-rapidos/dueno.png" />
          </button>

          <button
            (click)="fillForm('supervisor')"
            class="quick-button"
            data-type="supervisor"
          >
            <img src="../../assets/accesos-rapidos/supervisor.png" />
          </button>

          <button
            (click)="fillForm('maitre')"
            class="quick-button"
            data-type="maitre"
          >
            <img src="../../assets/accesos-rapidos/maitre.png" />
          </button>

          <button
            (click)="fillForm('mozo')"
            class="quick-button"
            data-type="mozo"
          >
            <img src="../../assets/accesos-rapidos/mozo.png" />
          </button>

          <button
            (click)="fillForm('cocinero')"
            class="quick-button"
            data-type="cook"
          >
            <img src="../../assets/accesos-rapidos/chef.png" />
          </button>

          <button
            (click)="fillForm('bartender')"
            class="quick-button"
            data-type="bartender"
          >
            <img src="../../assets/accesos-rapidos/bartender.png" />
          </button>

          <button
            (click)="fillForm('registrado')"
            class="quick-button"
            data-type="registered"
          >
            <img src="../../assets/accesos-rapidos/cliente.png" />
          </button>

          <button
            (click)="fillForm('anonimo')"
            class="quick-button"
            data-type="anonymous"
          >
            <img src="../../assets/accesos-rapidos/anonimo.png" />
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
