<div class="registro-container">
  <h2>Registro Mesas</h2>
  <label for="numero">Numero</label>
  <input
    id="numero"
    type="number"
    [(ngModel)]="nuevaMesa.numero"
    placeholder="Numero"
  />
  <label for="cantidadComensales">Cantidad de Comensales</label>
  <input
    id="cantidadComensales"
    type="number"
    [(ngModel)]="nuevaMesa.cantidadComensales"
    placeholder="cantidadComensales"
  />

  <label for="tipo">Tipo de Mesa</label>
  <select 
    id="tipo" 
    [(ngModel)]="nuevaMesa.tipo">
    <option *ngFor="let tipo of tiposDeMesa" 
    [value]="tipo">
      {{ tipo }}
    </option>
  </select>
  
  <button (click)="takePhoto()">Tomar Foto</button>
  <div *ngIf="nuevaMesa.fotoUrl.length > 0">
    <h3>Fotos Capturadas:</h3>
    <div *ngFor="let foto of nuevaMesa.fotoUrl">
      <img [src]="foto" alt="Foto del producto" class="foto-preview" />
    </div>
  </div>

  <!-- Sección del QR -->
  <button (click)="generateQRCode()">Generar QR</button>
  <div *ngIf="showQR" class="qr-container">
    <h3>Código QR del Producto</h3>
    <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'">
    </qrcode>
  </div>

  <button (click)="toggleScanner()">Escanear QR del Producto</button>
  <div *ngIf="isScannerVisible">
    <zxing-scanner
      [formats]="allowedFormats"
      (scanSuccess)="handleQrCodeResult($event)"
    ></zxing-scanner>
  </div>

  <button (click)="guardarMesa()">Guardar Producto</button>
</div>
