<!-- maitre-home.component.html -->
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Espera</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="users-grid">
        <div *ngFor="let usuario of listaDeEspera" class="user-card">
          <div class="user-photo-container">
            <img
              [src]="usuario.fotourl || 'assets/usudefault.png'"
              [alt]="usuario.nombre"
              class="user-photo"
              (error)="handleImageError($event)"
            />
          </div>
          <p class="nombre-usuario">{{ usuario.nombre }}</p>
          <div class="user-status" [class.assigned]="usuario.mesaAsignada">
            {{
              usuario.mesaAsignada
                ? "Mesa Asignada - Mesa " + usuario.numeroMesa
                : "En Espera"
            }}
          </div>
          <ion-button
            *ngIf="!usuario.mesaAsignada"
            (click)="mostrarSeleccionMesas(usuario)"
            class="asignar-button"
            color="secondary"
            size="large"
          >
            SELECCIONAR MESA
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Modal de selección de mesas -->
  <ion-modal
    [isOpen]="mostrarMesas"
    (didDismiss)="cerrarSeleccionMesas()"
    class="modal-fullscreen"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title
            class="ion-text-center"
            style="font-size: 1.5rem; font-weight: bold"
          >
            Seleccionar Mesa
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarSeleccionMesas()" size="large">
              <ion-icon
                name="close-circle-outline"
                style="font-size: 1.8rem"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col *ngFor="let mesa of mesasDisponibles">
              <ion-card class="mesa-card">
                <ion-card-header>
                  <ion-card-subtitle
                    style="font-size: 1.5rem; font-weight: 500"
                  >
                    Mesa {{ mesa.numero }}
                  </ion-card-subtitle>
                  <ion-card-title style="font-size: 1.7rem; margin: 10px 0">
                    {{ mesa.tipo }}
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p style="font-size: 1.7rem; margin: 15px 0">
                    Capacidad: {{ mesa.cantidadComensales }} personas
                  </p>
                  <ion-button
                    expand="block"
                    (click)="asignarMesaEspecifica(usuarioSeleccionado!, mesa)"
                    color="success"
                    size="large"
                    class="asignar-button"
                  >
                    <span style="font-size: 1.6rem; padding: 10px"
                      >Asignar Mesa</span
                    >
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
