<ion-header>
  <ion-toolbar>
    <ion-title>Tu mesa</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first" style="font-size: 14px">Menu</ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<p *ngIf="!this.escaneo" class="fs-4">Escanee el QR para ver el estado de su pedido</p>
<button (click)="toggleScanner()" style="border: none; background: none; margin-top: 20px;">
  <img src="../../assets/qrcode.png" alt="Scan QR" style="width: 80px; height: auto;">
</button>
<ion-button expand="block" color="success" (click)="onScanSuccess('pasedeuna')" style="margin-top: 10px;">
         pasedenua
        </ion-button>
<div *ngIf="isScannerVisible" style="margin-top: 20px;">
  <zxing-scanner [torch]="true" (scanSuccess)="onScanSuccess($event)"></zxing-scanner>
</div>

<ion-content *ngIf="this.escaneo" >
  <div class="container mt-3">
    <div class="row align-items-center justify-content-center g-5">
      <div class="col-lg-12 text-center bg">
        <p class="fs-4">Estado de su pedido:</p>
        <div class="status-display">
          <span class="badge badge-primary fs-4">{{ this.pedido?.EstadoDePedido}}</span>
        </div>
        <ion-button expand="block" color="primary" (click)="navigateTo('/ver-encuesta-cliente')">
          Encuesta
        </ion-button>
      </div>
      <div *ngIf="this.escaneo && this.pedido.EstadoDePedido == 'recibido' " class="col-12 text-center" style="margin-top: 30px;">
        <ion-button expand="block" color="success" (click)="navigateTo('/cliente-pedido-cuenta')" style="margin-top: 10px;">
          Pedir Cuenta
        </ion-button>
        <ion-button expand="block" color="warning" (click)="navigateTo('/juegos')" style="margin-top: 10px;">
          Juegos
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>