<ion-header>
  <ion-toolbar>
    <ion-title>Espere a su pedido</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first" style="font-size: 14px"
        >Menu</ion-menu-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-3">
    <div
      class="row flex-lg-row-reverse align-items-center justify-content-center g-5"
    >
      <div class="col-lg-12 text-center bg">
        <p class="fs-4">
          Escanee el código QR de su mesa para poder acceder a diferentes
          opciones.
        </p>
        <button (click)="toggleScanner()">
          <img src="../../assets/qrcode.png" />
        </button>

        <div *ngIf="isScannerVisible">
          <zxing-scanner [torch]="true" (scanSuccess)="onScanSuccess($event)">
          </zxing-scanner>
        </div>
      </div>
      <div
        *ngIf="pedido.EstadoDePedido != 'recibido'"
        class="col-12 text-center"
      >
        <ion-button
          size="large"
          [disabled]="pedido.EstadoDePedido != 'entregado'"
          color="success"
          (click)="Recibir()"
          >Recibí el pedido</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
